{
    "port": 8080,
    "requestTimeoutMs": 15000,
    "cookieSecret": "",
    "publicDomain": "",
    "db": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
        "connectionLimit": 5,
        "port": 3306
    },
    "recaptcha": {
        "enabled": true,
        "siteKey": "",
        "secretKey": ""
    }
}
